.blog-post-card {
    text-align: center;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 2px;
}

.post-img {
    width: 300px;
    border-bottom: 2px solid white;
}

body {
    background-color: beige;
}

.post-content {
    padding: 5px;
}

.post-title, .post-excerpt {
    color: #14213d;
    margin: 12px;
}

.read-more {
    background-color: #fca311;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    color: #14213d;
    display: inline-block;
}

.read-more:hover {
    background-color: #e5e5e5;
    border-color: #fca311;
    border-style: solid;
}