/* 
Types of selector
1. Tag Selector
2. id selector
3. Class Selector 
4. Universal Selector
5. Grouping Selector

htmlcolorcodes.com
hexadecimal
rgb
*/

h2 {
    color: chocolate;
}

#hitext {
    /* color: blueviolet; */
    /* background-color: antiquewhite; */
    /* background-image: url(image.png); */
    border-style: dotted;
}

body {
    background-image: url(image.png);
    background-repeat: no-repeat; /*other options: repeat-x, repeat-y*/
    background-position: top left ; /*other options: top left, top right, bottom left, bottom right, center, top, bottom,..*/
    background-attachment: fixed;
    /* Short hand syntax  */
    /* background: url(image.png) no-repeat top left fixed; */
}


.quotes {
    color: darkgreen;
    font-family: monospace;
    font-size: larger;
}

a.quotes {
    color: blueviolet;
    font-size: larger;
}

* {
    font-family: cursive;
}

h2, #hitext {
    font-style: normal;
}

#opacity {
    color: #C45E0C;
    opacity: 50%;
}
